
html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

/* .header
{
  background: mediumaquamarine;
  color: #636b6f;
  width: 100vw;
}

.titleheader
{
  text-shadow: -5px 5px 10px black;
  text-align: center;
}

.body
{
  background: #fff;
}

.body .game
{
  border: 1px solid red;
}

.footer
{
  background-image: linear-gradient( #636b6f, #636A3f, #636AAA);
} */